%span= link_to "<< Buffers", buffers_path
%span
  %b= @buffer.name

%p
  = link_to "|<< First", "?page=0", class: "first_page"
  = link_to_if @prevpage, "<< Back", "?page=#{@prevpage}", class: "prev_page"
  = link_to_if @nextpage, "Forward >>", "?page=#{@nextpage}", class: "next_page"
  = link_to "Last >>|", "?page=-1", class: "last_page"

.hidden
  = link_to "fast next >>>>>", "?page=#{@page + 10}", class: "fast_next_page"
  = link_to "<<<<<<fast prev", "?page=#{@page - 10}", class: "fast_prev_page"

- if @lines.empty?
  %ul
    %h4 Nothing here!

- else
  - for date, lines in @lines.group_by(&:nicedate)
    %h3= date
    %table.lines
      = render lines
